# This workflow will install Python dependencies, run tests and lint,
# and run a script with a single version of Python
# For more information, see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run

on:
  schedule:
    - cron: "0 1 1 1,3,5,7,9,11 *"  # 1:00 AM UTC, every two months
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run-task:

    runs-on: ubuntu-latest

    steps:
      - name: Configure man-db to speed up
        run: |
          echo "set man-db/auto-update false" | sudo debconf-communicate && sudo dpkg-reconfigure man-db

      - name: Update
        run: |
          sudo apt-get update

      - name: Checkout repository
        uses: actions/checkout@v5  # default: fetch-depth=1

      - name: Install the latest version of uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"

      - name: Add ~/.local/bin to PATH
        run: |
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install the project
        run: |
          uv sync --locked --no-dev --no-editable

      - name: Install chromium headless shell
        run: |
          python3 -m playwright install --with-deps --only-shell chromium

      - name: Run script
        shell: bash
        run: |
          export XDG_DATA_HOME=$HOME
          CREDS_PATH="${XDG_DATA_HOME}/pythonanywhere_credentials.yaml"
          echo "username: ${{ secrets.USERNAME }}" >> "${CREDS_PATH}"
          echo "password: ${{ secrets.PASSWORD }}" >> "${CREDS_PATH}"
          uv run pythonanywhere_3_months --headless-shell

      - name: Cleanup credential file
        if: always()
        run: rm -f "$HOME/pythonanywhere_credentials.yaml"
